---
import BaseLayout from '../layouts/BaseLayout.astro';
import BaseButton from "../components/BaseButton.astro";
import BaseIcon from "../components/BaseIcon.astro";
---

<BaseLayout title="Lilia Gilevich">
    <div class="container">
        <div>
            <h1>Lilia Gilevich Portfolio</h1>
            <p>Hi, ich bin Grafik- und Webdesignerin mit Erfahrungen im Bereich UI/UX Design, Typographie, Illustration und Fotografie</p>
            <BaseButton>Check it out!</BaseButton>
        </div>
        <div class="link-container">
            <BaseIcon icon="contact">Kontakt</BaseIcon>
            <BaseIcon icon="instagram">Instagram</BaseIcon>
        </div>
    </div>
</BaseLayout>

<style>
    h1 {
        font-weight: 600;
        font-size: var(--lilia-font-size-68);
        line-height: 80px;
    }

    .container {
        display: flex;
        flex-direction: column;
        gap: var(--size-64);

        .link-container {
            display: flex;
            gap: var(--size-128);
        }
    }
</style>
