---
import BaseLayout from "../../layouts/BaseLayout.astro";
---
<BaseLayout title="Design">
    <ul>
        <li><a href="/design/3d">3D - Design</a></li>
        <li><a href="/design/app">App - Design</a></li>
        <li><a href="/design/logoicon">Logo + Icon Design</a></li>
        <li><a href="/design/print">Print</a></li>
        <li><a href="/design/web">Webdesign</a></li>
    </ul>
</BaseLayout>
