---
type Props = {
    categoryList: {
        title: string;
        url: string;
    }[];
    size: 'medium' | 'large';
};


const { categoryList, size } = Astro.props;
---

<ul>
    {categoryList.map((category) => (<li><a class={size} href={category.url}>{category.title.toUpperCase()}</a></li>))}
</ul>

<style>
    ul {
        list-style-type: none;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--size-16);

        li a {
            --border-size: 10px;
            display: block;
            font-weight: 600;
            font-size: var(--font-size-60);
            padding: var(--size-64) 0;
            border-top: var(--border-size) solid #FF00F5;
            border-right: var(--border-size) solid var(--accent-color-500);
            border-bottom: var(--border-size) solid #0075FF;
            border-left: var(--border-size) solid #FF8A00;
            text-align: center;
            transition: background-color 300ms ease-in-out;

            &.medium {
                --border-size: 5px;
                font-size: var(--font-size-36);
                padding: var(--size-48) 0;
            }

            &:hover {
                background-color: oklch(89.57% 0.16288831736553747 179.6632178677616 / 10%);
            }

            &:active {
                color: var(--text-color);
                background-color: oklch(89.57% 0.16288831736553747 179.6632178677616 / 50%);
                transition: none;
            }
        }

    }

</style>