---
type Props = {
    categoryList: {
        title: string;
        url: string;
    }[];
    size: 'medium' | 'large';
};


const { categoryList, size } = Astro.props;
---

<ul>
    {categoryList.map((category) => (<li><a class={size} href={category.url}>{category.title.toUpperCase()}</a></li>))}
</ul>

<style>
    ul {
        list-style-type: none;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--size-16);

        li a {
            display: block;
            font-weight: 600;
            font-size: var(--font-size-60);
            padding: var(--size-64) 0;
            border-top: 10px solid #FF00F5;
            border-right: 10px solid var(--accent-color-500);
            border-bottom: 10px solid #0075FF;
            border-left: 10px solid #FF8A00;
            text-align: center;
            transition: background-color 300ms ease-in-out;

            &:hover {
                background-color: oklch(89.57% 0.16288831736553747 179.6632178677616 / 10%);
            }

            &:active {
                color: var(--text-color);
                background-color: oklch(89.57% 0.16288831736553747 179.6632178677616 / 50%);
            }
        }

    }

</style>