<nav>
    <a href="/">HOME</a>
    <ul>
        <li><a href="/design">Design</a></li>
        <li><a href="/animation">Animation</a></li>
        <li><a href="/illustration">Illustration</a></li>
        <li><a href="/photography">Fotografie</a></li>
    </ul>
</nav>

<style>
    nav {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding: 1rem;
        font-weight: 400;
    }

    ul {
        list-style: none;
        display: flex;
        gap: 68px;
    }
</style>