---
import BaseLayout from "@layouts/BaseLayout.astro";

const subpages = (await Astro.glob("./*.md"));
---
<BaseLayout title="Illustration">
    <ul>
        {
            subpages.map((page) => <li><a href={page.url}>{page.frontmatter.title}</a></li>)
        }
    </ul>
</BaseLayout>
