---
import Header from "../components/Header.astro";
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="background-effect">
			<div class="orange-circle"></div>
			<div class="magenta-circle"></div>
			<div class="cyan-circle"></div>
		</div>
		<Header />
		<main>
			<slot />
		</main>
	</body>
</html>

<style is:global>
	:root {
		/* Color Variables */
		--text-color: #FEE2FF;
		--background-color: #08000E;
		--accent-color-500: oklch(89.57% 0.16288831736553747 179.6632178677616);
		--accent-color-700: oklch(89.57% 0.16288831736553747 179.6632178677616 / 50%);

		/* sizes */
		--size-4: 4px;
		--size-8: 8px;
		--size-12: 12px;
		--size-16: 16px;
		--size-24: 24px;
		--size-32: 32px;
		--size-48: 48px;
		--size-64: 64px;
		--size-96: 96px;
		--size-128: 128px;
		--size-192: 192px;
		--size-256: 256px;
		--size-384: 384px;
		--size-512: 512px;
		--size-640: 640px;
		--size-768: 768px;

		/* font sizes */
		--font-size-12: 12px;
		--font-size-14: 14px;
		--font-size-16: 16px;
		--font-size-18: 18px;
		--font-size-20: 20px;
		--font-size-24: 24px;
		--font-size-30: 30px;
		--font-size-36: 36px;
		--font-size-48: 48px;
		--font-size-60: 60px;
		--font-size-72: 72px;

		/* lilia font size */
		--lilia-font-size-26: 26px;
		--lilia-font-size-68: 68px;
	}

	html, body {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
	}

	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure,
	footer, header, hgroup, menu, nav, section {
		display: block;
	}

	body {
		line-height: 1;
		text-wrap: balance;
	}

	/* TODO: improve on colors */
	.background-effect {
		--circle-width: 1097px;
		--circle-height: 1097px;
		position: relative;
		z-index: -1;

		.orange-circle {
			position: absolute;

			width: var(--circle-width);
			height: var(--circle-height);
			top: calc(-1 * var(--circle-height) / 2);
			left: calc(-1 * var(--circle-width) / 2);
			border-radius: 100vw;
			background-image: radial-gradient(#FF8A00, transparent 50%);
			opacity: 0.3;
		}

		.magenta-circle {
			position: absolute;
			width: var(--circle-width);
			height: var(--circle-height);
			top: calc(-1 * var(--circle-height) / 2);
			right: -10%;
			border-radius: 100vw;
			background-image: radial-gradient(#FF00F5, transparent 50%);
			opacity: 0.3;
		}

		.cyan-circle {
			position: absolute;
			width: var(--circle-width);
			height: var(--circle-height);
			top: -59px;
			right: calc(-1 * var(--circle-width) / 2);;
			border-radius: 100vw;
			background-image: radial-gradient(var(--accent-color-500), transparent 50%);
			opacity: 0.3;
		}
	}


	html {
		font-family: "Montserrat", system-ui, sans-serif;
		background: var(--background-color);
		color: var(--text-color);
	}

	main, nav {
		width: 80%;
		margin: 0 auto;
	}

	a {
		border-bottom: 1px solid transparent;
		transition:
			border-bottom-color 300ms ease-out;

		&:hover {
			border-bottom: 1px solid var(--accent-color-500);
		}

		&:active {
			color: var(--accent-color-500);
			border-bottom: 1px solid var(--accent-color-500);
		}
	}

</style>
